/*Reset Css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;outline:none;}
input.hidefocus::-moz-focus-inner {border:none;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup,b{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#5A5A5A;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}
i,em{font-style:normal}
small{font-size:12px;display: block;}
body{ color:#222;font: 14px/1.5 tahoma,arial,"Microsoft YaHei"; background:#fff;}
a{ color:#222; text-decoration:none}
a:hover{ color:#379be9; text-decoration:underline}
.clear{clear: both;}
.f_left{float: left;}
.f_right{float: right;}
.f_center{text-align: center;}
.f_bold{font: bold;}
/**end**/

header {
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #eee;
	text-align:center;
}

.wrap {
	width: 1100px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
}
.nav ul{

	
}
.nav li {
	list-style-type: none;
	float: left;
	padding-left: 1px;
	border-left: 1px solid #ddd;
	text-align: center;
	width: 80px;
}

.navgb {
	background-color: #379be9;
	margin-top: 10px;
}

.navgb li,
.navgb a {
	list-style-type: none;
	float: left;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	width: 80px;
}

.navgb .select {
	background: #2986cf;
}

.navgb li:hover {
	background: #2986cf;
}

.navgb li:selection {
	background: #2986cf;
}

.breadnav{
	margin-top: 10px;
	background: #eee;
}
.content{
	margin-top: 5px;
}
.lfluent {
	float: left;
	width: 390px;
}

.mfluent {
	float: left;
	margin-left: 30px;
	width: 335px;
}

.rfluent {
	float: left;
	margin-left: 30px;
	width: 310px;
}

.hotList {
	width: 100%;
}

.hotTitle dl {
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	display: block;
	border-bottom: 1px dashed #d5d5d5;
}

.hotTitle dd {
	font-size: 15px;
	color: #999;
}

.titleList li {
	width: 330px;
	overflow: hidden;
	margin-top: 10px;
	height: 29px;
	line-height: 29px;
}

.module {
	background-color: #FFFFFF;
	height: 350px;
}

.m_title {
	height: 35px;
	line-height: 35px;
	border: 1px solid #eee;
	background: #f8f8f8;
}
.m_title h1,.hotList h1{
	color: #379be9;
	font-size: 16px;
	text-indent: 10px;
}
.m_title a{
	color: #606060;
	font-size: 13px;
}
.m_box{
	padding: 10px;
    border: 1px solid #eee; 
    height: 290px;
  
}
 .box_item {
 	width: 45%;
 	margin: 5px 5px 10px 5px;
 	height: 130px;
 }
 
 .box_item img {
 	width: 100%;
 	display: block;
 }
 
 .box_item div {
 	text-align: center;
 	background-color: #eee;
 }
 .mainList {
 	border: 1px solid black;
 	height: 100px;
 }
 
 .mainLeft {
 	border: 1px solid black;
 	width: 750px;
 	height: 100px;
 }
 
 .mainRight {
 	border: 1px solid black;
 	width: 313px;
 	height: 100px;
 }